# MacOS DS_Store files
.DS_Store

# Binaries for programs and plugins
bin
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.html

# Dependency directories (remove the comment below to include it)
# vendor/

# Output of GoReleaser
dist/

# Visual Studio Code files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

#Other

node_modules
.idea
output
/examples/statika.app/deploy-prod.sh
/examples/statika.app/deploy-staging.sh
/examples/statika.app/deploy-testing.sh
