{% extends "layout.html" %}

{% block page_title %}{{ page.Title }}{% endblock %}
{% block title %}{{ page.Title }}{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-md-center">
        <div class="col-lg-10">
            <article>
            <p>{% for tag in page.Tags %}<span class="badge badge-primary mr-2 p-2"><a
                    href="/news/tags/{{ tag | slugify }}">{{ tag }}</a></span>{% endfor %}</p>
            <p>{{ page.Content | safe }}</p>
            </article>
        </div>
    </div>
</div>
{% endblock %}