{% extends "layout.html" %}

{% block page_title %}News {% if tag %}({{ tag }}){% endif %}{% endblock %}
{% block title %}News {% if tag %}({{ tag }}){% endif %}{% endblock %}

{% block content %}
<div class="container py-5">
    <section class="news">
        <div class="row">
            <div class="col-md-12">
                <p class="tag-header py-2 mb-4 text-center"><span class="badge p-2"><a
                        href="/news/tags/">All Tags</a></span> | {% for tag in sortedTags %}<span class="badge ml-2 p-2"><a
                        href="/news/tags/{{ tag | slugify }}">{{ tag }}</a></span>{% endfor %}</p>

                <table class="table">
                    {% for page in pages %}
                    <tr>
                        <td>{{ page.Date | date:"January 2, 2006" }}</td>
                        <td><a href="/news/{{ page.Slug }}">{{ page.Title }}</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </section>
</div>
{% endblock %}