h1, h2, h3, h4, h5, h6 {
  color: #222;
}

.navbar-dark .navbar-toggler {
  border: none !important;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

code {
  background: #333A40;
  color: #fff !important;
  padding: 20px;
  border-radius: 10px;
  display: block;
}


.jumbotron {
  background-color: #09615D;
  border-radius: 0;
  padding: 2em 0 0 0;
  text-align: center;
  color: white;
  margin: 0;

  p {
    padding-bottom: 0;
    margin: 0;
  }
}

h1.jumbotron-heading {
  padding-bottom: .2em;
  margin: 0;
  color: white;
}

.jumbotron .container {
}


footer p {
  margin-bottom: .25rem;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.rounded-bottom {
  position: relative;
  overflow: hidden;
  height: 30px;
  background: #f7f4f6;
}

.rounded-bottom::before {
  border-radius: 100%;
  position: absolute;
  background: #09615D;
  right: -100px;
  left: -100px;
  top: -100px;
  content: '';
  bottom: 0;
}
