{% extends "layout.html" %}

{% block title %}{{ page.Title }}{% endblock %}

{% block content %}
<div class="container">
    <section class="section">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <div class="content is-medium">
                    <h1 class="title">{{ page.Title }}</h1>
                    <h2 class="subtitle is-size-6">{{ page.Date | date:"January 2, 2006" }}</h2>
                    <p>{{ page.Content | safe }}
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
