{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    {% for page in pages.blog | slice:"0:2" %}
    <section class="section">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <div class="content is-medium">
                    <h1 class="title"><a href="/blog/{{ page.Slug }}">{{ page.Title }}</a></h1>
                    <p class="subtitle">{{ page.Date | date:"January 2, 2006" }}</p>
                    <p>{{ page.Content | truncatechars:50  | safe }} <span class="is-size-7"><a href="/blog/{{ page.Slug }}">[ Read More ]</a></span>
                    </p>
                </div>
            </div>
        </div>
    </section>
    {% endfor %}
</div>
{% endblock %}
